* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgb(3, 1, 28);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
}

.sidebar {
  flex: 2.5;
  border-right: 1px solid rgb(219, 214, 214);
}

.main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
}
.brandName {
  font-size: 2rem;
}

.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(219, 214, 214);
  height: 70%;
}

.upperSideLogo {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.btn {
  background: #5A4BFF;
  border: none;
  font-size: 1.5rem;
  padding: 1.5rem;
  color: white;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}

.addBtn {
  height: 2rem;
  padding-right: 1rem;
}

.query {
  display:flex;
  align-items: center;
  background: transparent;
  color: rgba(222,222,222,1);
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98,98,98,1);
}

.query>img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}