* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgb(3, 1, 28);
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.App {
  height: 100vh;
  display: flex;
}

.sidebar {
  flex: 2.5;
  border-right: 1px solid rgb(219, 214, 214);
}

.main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
}
.brandName {
  font-size: 2rem;
}

.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(219, 214, 214);
  height: 70%;
}

.upperSideLogo {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.btn {
  font-family: 'Poppins', sans-serif;
  background: #5A4BFF;
  border: none;
  font-size: 1.3rem;
  padding: 1.5rem;
  color: white;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  transition-duration: 0.2s;  
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(27, 17, 170);
  color: white;
}

.addBtn {
  height: 1.8rem;
  padding-right: 1rem;
}

.query {
  font-family: 'Poppins', sans-serif;
  display:flex;
  font-size: 1.3rem;
  align-items: center;
  background: transparent;
  color: rgba(222,222,222,1);
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  transition-duration: 0.2s;
  border: 1px solid rgba(98,98,98,1);
}

.query:hover{
  background-color: rgba(98,98,98,1);
  cursor: pointer;
}

.query>img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide {
  padding: 2rem;
}

.listItems {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}

.listItems:hover{
  color: rgb(157, 156, 156);
  transition-duration: 0.2s;
}

.listItemsImg {
  margin: 1rem;
  padding-right: 1rem;
}

.listItems:nth-child(1)>.listItemsImg {
  margin-right: 0.5rem;
}

.listItems:nth-child(3)>.listItemsImg {
  margin-right: 0.75rem;
}

.main{
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.chatbox {
  margin-top: 4rem;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 17rem);
}

.chatbox::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.chatbox {
  scrollbar-width: none;
}

.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify ;
}

.bot {
  background-color: rgba(20, 30, 58, 1);
  width: fit-content;
  border-radius: 0.5rem;
}

.chatImg{
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.chatboxFooter{
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 0.5rem;
  background-color: rgba(20, 30, 58, 1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 68rem;
  justify-content: space-between;
}

.input>input{
  width: calc(100%-3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}

.input>input, .send {
  background: transparent;
  border: none;
  margin-right: 0.5rem;
  margin-top: 1px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sendBtn:hover {
  cursor: pointer;
  transform: scale(1.2); 
}

.chatboxFooter>p{
  margin: 2rem 0;
}

.text {
  line-height: 2.5rem;
  color: rgba(222,222,222,1);
}